.payment {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
  }
  
  .section {
    margin-bottom: 40px;
  }
  
  .infoCard, .personalCard, .methodCard {
    border-radius: 24px;
    border: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .label {
    font-size: 16px;
    color: #6b7280;
  }
  
  .value {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    float: right;
  }
  
  :global {
    .ant-list-item {
      padding: 8px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  
  :global(.ant-form-item) {
    margin-bottom: 16px;
  }
  
  :global(.ant-input),
  :global(.ant-input-affix-wrapper) {
    border-radius: 16px;
  }
  
  :global(.ant-input-prefix) {
    background-color: #fff;
    border-radius: 16px 0 0 16px;
    padding: 0 1.5rem;
    margin-right: 0;
  }
  
  .alert {
    border-radius: 16px !important;
    background-color: #fffbe6;
    border-color: #ffe58f;
  }
  
  .paymentMethods {
    width: 100%;
  }
  
  .paymentOption {
    display: flex;
    align-items: center;
    height: 56px;
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    padding: 10px;
    justify-content: center;
  }
  
  .paymentIcon {
    height: 30px;
    width: auto;
  }
  
  .divider {
    display: flex;
    align-items: center;
    margin: 20px 0;
  
    span {
      padding: 0 20px;
      color: #6b7280;
      opacity: 0.7;
    }
  
    &::before,
    &::after {
      content: '';
      flex: 1;
      border-top: 1px solid #d9d9d9;
    }
  }
  
  .cashOption {
    text-align: center;
    margin: 20px 0;
  
    a {
      color: #5f2eea;
      font-weight: 600;
    }
  }
  
  .navButtons {
    margin-top: 20px;
    display: flex;
    gap: 16px;
    justify-content: flex-end;
  }
  
  .prevButton {
    border-radius: 16px;
    min-height: 56px;
  }
  
  .payButton {
    border-radius: 16px;
    min-height: 56px;
  }
  
  @media (max-width: 767px) {
    .navButtons {
      flex-direction: column;
      .ant-btn {
        width: 100%;
      }
    }
  }