.auth {
  width: 100%;
  margin: 0px 200px;
  min-height: 100vh;
  background-color: #fff;
}

.rightContainer {
  padding: 40px 20px;
}

:global {
  .ant-form-item-label > label {
    font-weight: 600;
  }

  .ant-input,
  .ant-input-password {
    min-height: 56px;
    border-radius: 14px;
  }

  .ant-tabs-nav {
    margin-bottom: 20px;
  }
}