.movieDetails {
  width: 80%;
}

 .viewMore {
    display: flex;
    align-items: center;
    margin: 20px 0;
  }
  
  .dividerLine {
    flex: 1;
    border-top: 1px solid #d9d9d9;
  }
  
  .viewMoreLink {
    padding: 0 10px;
    color: #5f2eea;
    font-weight: 600;
  }